<div class="md:px-10 mx-auto w-full -m-24 h-screen max-w-max">
  <div class="flex flex-wrap place-content-center mt-4 max-w-max">
    <!-- Dialog bounding rect -->
    <div>
      <div class="flex flex-nowrap content-between w-full">
        <div
          class="relative flex w-30 md:w-60 sm:w-full flex-nowrap place-self-end"
        >
          <span
            class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"
            ><i class="fas fa-search"></i
          ></span>
          <input
            type="text"
            name="student_search"
            placeholder="Search here..."
            (keyup)="applyFilter($any($event.target).value)"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring w-full pl-10"
          />
        </div>
      </div>

      <mat-table #table [dataSource]="dataSource" class="place-self-center">

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <span *ngIf="element.status === 'created'" class="center relative inline-block select-none whitespace-nowrap rounded-lg bg-blue-500 py-2 px-1 align-baseline font-sans text-xs font-bold uppercase leading-none text-white">{{ element.status }}</span>
            <span *ngIf="element.status === 'open'" class="center relative inline-block select-none whitespace-nowrap rounded-lg bg-green-500 py-2 px-1 align-baseline font-sans text-xs font-bold uppercase leading-none text-white">{{ element.status }}</span>
            <span *ngIf="element.status === 'investigating'" class="center relative inline-block select-none whitespace-nowrap rounded-lg bg-yellow-500 py-2 px-1 align-baseline font-sans text-xs font-bold uppercase leading-none text-white">{{ element.status }}</span>
            <span *ngIf="element.status === 'closed'" class="center relative inline-block select-none whitespace-nowrap rounded-lg bg-pink-500 py-2 px-1 align-baseline font-sans text-xs font-bold uppercase leading-none text-white">{{ element.status }}</span>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="courseCode">
          <mat-header-cell *matHeaderCellDef> Course </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.courseCode }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.year }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="reporter">
          <mat-header-cell *matHeaderCellDef> Reporter </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.reporter }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="assignee">
          <mat-header-cell *matHeaderCellDef> Assignee </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.assignee }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef> Actiosns </mat-header-cell>
          <mat-cell *matCellDef="let element">
            <div class="flex flex-wrap">
              <button *ngIf="element.status !== 'open'" (click)="updateTicket(element, 'open')" class="btn btn-success btn-sm mx-2"> Open </button>
              <button *ngIf="element.status !== 'investigating'" (click)="updateTicket(element, 'investigating')" class="btn btn-warning btn-sm mx-2"> Investigate </button>
              <button *ngIf="element.status !== 'closed'" (click)="updateTicket(element, 'closed')" class="btn btn-danger btn-sm mx-2"> Close </button>
            </div>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>

  <app-footer-admin></app-footer-admin>
</div>
