<div class="md:px-10 mx-auto w-full -m-24 h-screen max-w-max">
  <div class="flex flex-wrap place-content-center mt-4 max-w-max">
    <!-- Dialog bounding rect -->
    <div>
      <div class="flex flex-nowrap content-between w-full">
        <a
          class="bg-blueGray-800 text-white active:bg-blueGray-600 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-2 mb-1"
          type="button"
          style="transition: all 0.15s ease"
          [routerLink]="['/staff/add-allocation']"
        >
          <i class="fas fa-plus"></i> Add Allocation
        </a>
        <div
          class="relative flex w-30 md:w-60 sm:w-full flex-nowrap place-self-end"
        >
          <span
            class="z-10 h-full leading-snug font-normal absolute text-center text-blueGray-300 absolute bg-transparent rounded text-base items-center justify-center w-8 pl-3 py-3"
            ><i class="fas fa-search"></i
          ></span>
          <input
            type="text"
            name="staff_search"
            placeholder="Search here..."
            (keyup)="applyFilter($any($event.target).value)"
            class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 relative bg-white rounded text-sm shadow outline-none focus:outline-none focus:ring w-full pl-10"
          />
        </div>
      </div>

      <mat-table #table [dataSource]="dataSource" class="place-self-center">
        <!-- Position Column -->
        <ng-container matColumnDef="staffId">
          <mat-header-cell *matHeaderCellDef> Staff ID</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.staffId }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="staffSurname">
          <mat-header-cell *matHeaderCellDef> Staff Surname</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.staffSurname }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="staffOthername">
          <mat-header-cell *matHeaderCellDef> Staff Othername</mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.staffOthername }} </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="course">
          <mat-header-cell *matHeaderCellDef> Course </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.course }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="description">
          <mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.description }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="year">
          <mat-header-cell *matHeaderCellDef> Year </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.year }} </mat-cell>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="semmester">
          <mat-header-cell *matHeaderCellDef> Semmester </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.semmester }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="noStudents">
          <mat-header-cell *matHeaderCellDef> No. Of Students </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.noStudents }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="modeofExam">
          <mat-header-cell *matHeaderCellDef> Mode Of Exams </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{ element.modeofExam }} </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>

  <app-footer-admin></app-footer-admin>
</div>
